*{
   
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
    html{font-size:100%;

    }
    .container {
        background-color:#cacaca;
        padding: 10px;
        margin:30px;
        display: flex;
        flex-direction:row;
        align-self:center;
        justify-content:space-evenly;
        border: solid black;
        box-shadow: 15px 15px 10px rgba(60, 56, 140, 1);
    }
    .item {
        background-color:#ff0037;
        color:#fff;
        font-size:15px;
        padding: 10px;
        margin:5px;
        box-shadow: 15px 15px 10px rgba(60, 56, 140, 1);
    }      
     .item-1{
        background-color:#2e63b3;
        color:#fff;
        font-size:15px;
        padding:10px;
        margin:10px;
    }
    .item-2{
        background-color:#2e63b3;
        color:#fff;
        font-size:15px;
        padding:20px;
        margin:10px;
    }
    .item-3{
        background-color:#2e63b3;
        color:#fff;
        font-size:15px;
        padding:20px;
       margin:10px;
   }    
    
    body{
        background-color:rgb(185, 177, 214);
    }
    h2,p{
        color:rgb(70, 48, 196)
    }
        h1 {
            padding:10px;
            color:rgb(253, 239, 33);
           
    }
    strong{
        color:#e7da23;
    }
    select{
        width: 5rem;
    }
   
    

 
