body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background:#E6E6E6;
	margin: 0; 
	padding: 0;
	text-align: center;
	color: #000000;
}
.oneCol #container {
	width: 46em;
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
}
.oneCol #mainContent {
	padding: 0 20px;
}
